<a href="https://colab.research.google.com/github/alexngocvu/dbclass/blob/main/Homework_week_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
CREATE TABLE gpa AS
SELECT
    student_id,
    SUM(CASE
        WHEN grade = 'A+' THEN 4.50 * credits
        WHEN grade = 'A' THEN 4.00 * credits
        WHEN grade = 'B+' THEN 3.50 * credits
        WHEN grade = 'B' THEN 3.00 * credits
        ELSE 0
    END) AS obtained,
    SUM(4.50 * credits) AS maximum
FROM grades
GROUP BY student_id;

SyntaxError: ignored

In [ ]:
SELECT
    CASE
        WHEN maximum > 0 AND obtained / maximum BETWEEN 3.75 AND 4.50 THEN 'A'
        WHEN maximum > 0 AND obtained / maximum BETWEEN 3.00 AND 3.75 THEN 'B'
        WHEN maximum > 0 AND obtained / maximum BETWEEN 2.00 AND 3.00 THEN 'C'
        WHEN maximum > 0 AND obtained / maximum BETWEEN 1.50 AND 2.00 THEN 'D'
        WHEN maximum > 0 AND obtained / maximum < 1.50 THEN 'F'
        ELSE 'Unknown'
    END AS category,
    COUNT(*) AS student_count
FROM gpa
GROUP BY category;