<a href="https://colab.research.google.com/github/alexngocvu/dbclass/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

# Connect to a SQLite database
conn = sqlite3.connect('ITS_Database.db')
cursor = conn.cursor()

# Create the Vehicle Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Vehicle (
        VehicleID TEXT PRIMARY KEY NOT NULL,
        RegistrationID TEXT NOT NULL,
        Manufacturer TEXT NOT NULL,
        Model TEXT NOT NULL,
        Color TEXT NOT NULL,
        CurrentOdometer INTEGER NOT NULL,
        PassengerCapacity INTEGER NOT NULL
    )
''')

# Create the Maintenance/Repair History Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS MaintenanceRepairHistory (
        ActionID INTEGER PRIMARY KEY NOT NULL,
        VehicleID TEXT NOT NULL,
        ActionType TEXT NOT NULL,
        Odometer INTEGER NOT NULL,
        Cost REAL NOT NULL,
        Description TEXT NOT NULL,
        Date DATE NOT NULL,
        FOREIGN KEY (VehicleID) REFERENCES Vehicle(VehicleID)
    )
''')

# Create the Country Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Country (
        CountryCode TEXT PRIMARY KEY NOT NULL,
        CountryName TEXT NOT NULL
    )
''')

# Create the Spoken Languages Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS SpokenLanguages (
        LanguageCode TEXT PRIMARY KEY NOT NULL,
        LanguageName TEXT NOT NULL
    )
''')

# Create the Official Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Official (
        OfficialID INTEGER PRIMARY KEY NOT NULL,
        CountryCode TEXT NOT NULL,
        CityID TEXT NOT NULL,
        Name TEXT NOT NULL,
        Role TEXT NOT NULL,
        PreferredLanguage TEXT NOT NULL,
        FOREIGN KEY (CountryCode) REFERENCES Country(CountryCode),
        FOREIGN KEY (PreferredLanguage) REFERENCES SpokenLanguages(LanguageCode)
    )
''')

# Create the Driver Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Driver (
        DriverID INTEGER PRIMARY KEY NOT NULL,
        FirstName TEXT NOT NULL,
        LastName TEXT NOT NULL,
        LicenseNumber TEXT NOT NULL,
        ClearanceLevel INTEGER NOT NULL,
        FirstAidTrainingLevel INTEGER,
        FirstAidTrainingDate DATE,
        STLVTLevel INTEGER,
        STLVTQualificationDate DATE,
        CertifyingAuthority TEXT
    )
''')

# Create the Language Match Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS LanguageMatch (
        OfficialID INTEGER NOT NULL,
        DriverID INTEGER NOT NULL,
        FOREIGN KEY (OfficialID) REFERENCES Official(OfficialID),
        FOREIGN KEY (DriverID) REFERENCES Driver(DriverID)
    )
''')

# Create the Booking Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Booking (
        BookingReferenceNumber INTEGER PRIMARY KEY NOT NULL,
        OfficialID INTEGER NOT NULL,
        DriverID INTEGER NOT NULL,
        VehicleID TEXT NOT NULL,
        StartLocation TEXT NOT NULL,
        EndLocation TEXT NOT NULL,
        LocationType TEXT NOT NULL,
        StartDateTime DATETIME NOT NULL,
        EndDateTime DATETIME NOT NULL,
        StartOdometerValue INTEGER NOT NULL,
        EndOdometerValue INTEGER NOT NULL,
        FOREIGN KEY (OfficialID) REFERENCES Official(OfficialID),
        FOREIGN KEY (DriverID) REFERENCES Driver(DriverID),
        FOREIGN KEY (VehicleID) REFERENCES Vehicle(VehicleID)
    )
''')

# Create the Availability Table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Availability (
        VehicleID TEXT PRIMARY KEY NOT NULL,
        AvailabilityStatus TEXT NOT NULL
    )
''')

# Insert data into the tables
vehicle_data = [
    ('V1000', '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4),
    ('V1001', '2006 AFD', 'Kia', 'K7', 'Black', 2195, 4),
    ('V1002', '2021 AHR', 'Tesla', '2020 F', 'White', 509, 4),
    ('V1003', '2020 DXF', 'Ford', 'Transit', 'Silver', 974, 2)
]


countries_data = [
    ('AF', 'Afghanistan'),
    ('AM', 'Armenia'),
    ('AZ', 'Azerbaijan'),
    ('BH', 'Bahrain'),
    ('BD', 'Bangladesh'),
    ('BN', 'Brunei'),
    ('KH', 'Cambodia'),
    ('CN', 'China'),
    ('CY', 'Cyprus'),
    ('GE', 'Georgia'),
    ('IN', 'India'),
    ('ID', 'Indonesia'),
    ('IR', 'Iran'),
    ('IQ', 'Iraq'),
    ('IL', 'Israel'),
    ('JP', 'Japan'),
    ('JO', 'Jordan'),
    ('KZ', 'Kazakhstan'),
    ('KP', 'North Korea'),
    ('KR', 'South Korea'),
    ('KW', 'Kuwait'),
    ('KG', 'Kyrgyzstan'),
    ('LA', 'Laos'),
    ('LB', 'Lebanon'),
    ('MY', 'Malaysia'),
    ('MV', 'Maldives'),
    ('MN', 'Mongolia'),
    ('MM', 'Myanmar'),
    ('NP', 'Nepal'),
    ('OM', 'Oman'),
    ('PK', 'Pakistan'),
    ('PH', 'Philippines'),
    ('QA', 'Qatar'),
    ('SA', 'Saudi Arabia'),
    ('SG', 'Singapore'),
    ('LK', 'Sri Lanka'),
    ('SY', 'Syria'),
    ('TW', 'Taiwan'),
    ('TJ', 'Tajikistan'),
    ('TH', 'Thailand'),
    ('TL', 'Timor-Leste'),
    ('TM', 'Turkmenistan'),
    ('AE', 'United Arab Emirates'),
    ('UZ', 'Uzbekistan'),
    ('VN', 'Vietnam')
]

official_data = [
    (1, 'KR', 'IC000001', 'John Doe', 'Coach', 'EN'),
    (2, 'CN', 'IC000002', 'Alice Smith', 'Judge', 'ZH'),
    # ...
]

driver_data = [
    (1, 'John', 'Smith', 'A12345678', 2, 5, '2023-05-15', 3, '2023-06-20', 'Local Police Station'),
    (2, 'Alice', 'Johnson', 'B98765432', 1, None, None, 4, '2023-07-10', 'Foreign Police Station'),
    # ...
]

booking_data = [
    (1, 1, 1, 'V1000', 'Hotel A', 'Aquatic Center', 'Hotel', '2023-10-20 10:00:00', '2023-10-20 12:00:00', 4350, 4390),
    (2, 2, 2, 'V1001', 'Hotel B', 'Airport', 'Hotel', '2023-10-21 08:00:00', '2023-10-21 09:30:00', 2195, 2220),
    # ...
]

availability_data = [
    ('V1000', 'Available'),
    ('V1001', 'Available'),
    ('V1002', 'Out-on-Trip'),
    ('V1003', 'Available')
]

maintenance_repair_data = [
    ('V1000', 'Maintenance', 4400, 150, 'Routine maintenance', '2023-10-18'),
    ('V1002', 'Repair', 600, 500, 'Transmission repair', '2023-09-10'),
    # ...
]

# Insert data into the tables using for loops
for data in vehicle_data:
    cursor.execute("INSERT INTO Vehicle (VehicleID, RegistrationID, Manufacturer, Model, Color, CurrentOdometer, PassengerCapacity) VALUES (?, ?, ?, ?, ?, ?, ?)", data)

for data in countries_data:
    cursor.execute("INSERT INTO Country (CountryCode, CountryName) VALUES (?, ?)", data)

for data in official_data:
    cursor.execute("INSERT INTO Official (OfficialID, CountryCode, CityID, Name, Role, PreferredLanguage) VALUES (?, ?, ?, ?, ?, ?)", data)

for data in driver_data:
    cursor.execute("INSERT INTO Driver (DriverID, FirstName, LastName, LicenseNumber, ClearanceLevel, FirstAidTrainingLevel, FirstAidTrainingDate, STLVTLevel, STLVTQualificationDate, CertifyingAuthority) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", data)

for data in booking_data:
    cursor.execute("INSERT INTO Booking (BookingReferenceNumber, OfficialID, DriverID, VehicleID, StartLocation, EndLocation, LocationType, StartDateTime, EndDateTime, StartOdometerValue, EndOdometerValue) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", data)

for data in availability_data:
    cursor.execute("INSERT INTO Availability (VehicleID, AvailabilityStatus) VALUES (?, ?)", data)

for data in maintenance_repair_data:
    cursor.execute("INSERT INTO MaintenanceRepairHistory (VehicleID, ActionType, Odometer, Cost, Description, Date) VALUES (?, ?, ?, ?, ?, ?)", data)


# Commit the changes and close the database connection
conn.commit()
conn.close()